global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:

  # =========================
  # HTTP Monitoring Juice Shop
  # =========================
  - job_name: "juice-shop-http"
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://host.docker.internal:3000
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  # =========================
  # Host Monitoring (CPU, RAM, Disk)
  # =========================
  - job_name: "node-exporter"
    static_configs:
      - targets:
          - node-exporter:9100
